* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: black;
  background-color: hsl(215, 30%, 20%);
  font-family: 'Roboto', sans-serif;
}

.contents {
  margin: auto;
  margin-top: 0;
  padding: 1rem 2rem 3rem 2rem;
  background-color: hsl(216, 100%, 75%);
  width: min(50rem, 80%);
  border: solid 1px white;
}

.section {
  margin-bottom: 2rem;
}

h1 {
  text-align: center;
  font-weight: 900;
  margin-bottom: 0.5rem;
}

h2 {
  margin-top: 0.5rem;
  font-weight: 900;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: white;
}



ul {
  list-style-position: inside;
}